<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addStoreConstructionPlan()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>城市</td>
    <td>网点</td>
    <td>预计土地方案提交时间</td>
    <td>预计动工时间</td>
    <td>预计完工时间</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="user in StoreConstructionPlan" class="editable-row">
    <td>
        <span editable-text="user.city" e-name="city" e-form="userform" e-required>
          {{ user.city || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.branch" e-name="branch" e-form="userform" e-required>
          {{ user.branch || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-date="user.submitTime" e-name="submitTime" e-form="userform" e-required>
           {{ (user.submitTime | date:"yyyy/MM/dd") || '请选择时间' }}
        </span>
    </td>
    <td>
        <span editable-date="user.startingTime" e-name="startingTime" e-form="userform" e-required>
          {{ (user.startingTime | date:"yyyy/MM/dd") || '请选择时间'}}
        </span>
    </td>
    <td>
        <span editable-date="user.completeTime" e-name="completeTime" e-form="userform" e-required>
          {{ (user.completeTime | date:"yyyy/MM/dd") || '请选择时间'}}
        </span>
    </td>
    <td>
      <form editable-form name="userform" ng-show="userform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="userform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          保存
        </button>
        <button type="button" ng-disabled="userform.$waiting" ng-click="userform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!userform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="userform.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="delStoreConstructionPlan($index)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
