<form ng-submit="funding(fundingForm)" novalidate name="fundingForm">
	<h3 class="funding-title">固定投资（含建店/装修/设备采购等</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationOwnArriveTime.$error.required || fundingForm.fixationOwnSum.$error.required || fundingForm.fixationOwnRemark.$error.required || fundingForm.fixationloanSum.$error.required || fundingForm.fixationloanArriveTime.$error.required || fundingForm.fixationloanRemark.$error.required || fundingForm.fixationrestSum.$error.required || fundingForm.fixationrestArriveTime.$error.required || fundingForm.fixationrestRemark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationOwnArriveTime.$error.pattern || fundingForm.fixationloanArriveTime.$error.pattern || fundingForm.fixationrestArriveTime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationOwnSum.$error.pattern || fundingForm.fixationloanSum.$error.pattern || fundingForm.fixationrestSum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	    <td colspan="3">自有</td>
	    <td colspan="3">贷款</td>
	    <td colspan="3">其他</td>
	  </tr>
	  <tr class="info-tr">
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="fixationOwnSum" ng-model="agent.fixationOwnSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="fixationOwnArriveTime" ng-model="agent.fixationOwnArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">

	    </td>
	    <td>
	       <input type="text" name="fixationOwnRemark" ng-model="agent.fixationOwnRemark" required ng-disabled="formstate()"> 
	    </td>
	    <!-- ********************************** -->
	    <td>
	       <input type="text" name="fixationloanSum" ng-model="agent.fixationloanSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="fixationloanArriveTime" ng-model="agent.fixationloanArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="fixationloanRemark" ng-model="agent.fixationloanRemark" required ng-disabled="formstate()"> 
	    </td>
	    <!-- ********************************** -->
	    <td>
	       <input type="text" name="fixationrestSum" ng-model="agent.fixationrestSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="fixationrestArriveTime" ng-model="agent.fixationrestArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="fixationrestRemark" ng-model="agent.fixationrestRemark" required ng-disabled="formstate()"> 
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">流动资金（含建店保证金/加盟保证金/运营资金等</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.streamOwnSum.$error.required || fundingForm.streamOwnArriveTime.$error.required || fundingForm.streamOwnRemark.$error.required || fundingForm.streamloanSum.$error.required || fundingForm.streamloanArriveTime.$error.required || fundingForm.streamloanRemark.$error.required || fundingForm.streamrestSum.$error.required || fundingForm.streamrestArriveTime.$error.required || fundingForm.streamrestRemark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.streamOwnArriveTime.$error.pattern || fundingForm.streamloanArriveTime.$error.pattern || fundingForm.streamrestArriveTime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.streamOwnSum.$error.pattern || fundingForm.streamloanSum.$error.pattern || fundingForm.streamrestSum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	    <td colspan="3">自有</td>
	    <td colspan="3">贷款</td>
	    <td colspan="3">其他</td>
	  </tr>
	  <tr class="info-tr">
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	  <!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamOwnSum" ng-model="agent.streamownSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamOwnArriveTime" ng-model="agent.streamownArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamOwnRemark" ng-model="agent.streamownRemark" required ng-disabled="formstate()"> 
	    </td>
		<!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamloanSum" ng-model="agent.streamloanSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamloanArriveTime" ng-model="agent.streamloanArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamloanRemark" ng-model="agent.streamloanRemark" required ng-disabled="formstate()"> 
	    </td>
		<!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamrestSum" ng-model="agent.streamrestSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamrestArriveTime" ng-model="agent.streamrestArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="streamrestRemark" ng-model="agent.streamrestRemark" required ng-disabled="formstate()"> 
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">建店保证金</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.cashDepositSum.$error.required || fundingForm.cashDepositArriveTime.$error.required || fundingForm.cashDepositRemark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.cashDepositArriveTime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.cashDepositSum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="cashDepositSum" ng-model="agent.cashDepositSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="cashDepositArriveTime" ng-model="agent.cashDepositArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="cashDepositRemark" ng-model="agent.cashDepositRemark" required ng-disabled="formstate()"> 
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">首批提车款</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionModelsSum.$error.required || fundingForm.mentionModelsArriveTime.$error.required || fundingForm.mentionModelsRemark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionModelsArriveTime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionModelsSum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	  	<td>金额</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="mentionModelsSum" ng-model="agent.mentionModelsSum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/"> 
	    </td>
	    <td>
	       <input type="text" name="mentionModelsArriveTime" ng-model="agent.mentionModelsArriveTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"> 
	    </td>
	    <td>
	       <input type="text" name="mentionModelsRemark" ng-model="agent.mentionModelsRemark" required ng-disabled="formstate()"> 
	    </td>
	  </tr>
	</table>
	<div class="text-center">
        <button type="submit" class="btn btn-primary" ng-disabled="formstate()">保存</button>
    </div>
</form>