<form ng-submit="funding(fundingForm)" novalidate name="fundingForm">
	<h3 class="funding-title">固定投资(含建店/装修/设备采购等)</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationownarrivetime.$error.required || fundingForm.fixationownsum.$error.required || fundingForm.fixationownremark.$error.required || fundingForm.fixationloansum.$error.required || fundingForm.fixationloanarrivetime.$error.required || fundingForm.fixationloanremark.$error.required || fundingForm.fixationrestsum.$error.required || fundingForm.fixationrestarrivetime.$error.required || fundingForm.fixationrestremark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationownarrivetime.$error.pattern || fundingForm.fixationloanarrivetime.$error.pattern || fundingForm.fixationrestarrivetime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.fixationownsum.$error.pattern || fundingForm.fixationloansum.$error.pattern || fundingForm.fixationrestsum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	    <td colspan="3">自有</td>
	    <td colspan="3">贷款</td>
	    <td colspan="3">其他</td>
	  </tr>
	  <tr class="info-tr">
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="fixationownsum" ng-model="zijinchoubei.fixationownsum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="fixationownarrivetime" ng-model="zijinchoubei.fixationownarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">

	    </td>
	    <td>
	    	<textarea name="fixationownremark" cols="20" rows="1" ng-model="zijinchoubei.fixationownremark" required ng-disabled="formstate()"  onscroll="this.rows++;"></textarea>
	    </td>
	    <!-- ********************************** -->
	    <td>
	       <input type="text" name="fixationloansum" ng-model="zijinchoubei.fixationloansum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="fixationloanarrivetime" ng-model="zijinchoubei.fixationloanarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="fixationloanremark" ng-model="zijinchoubei.fixationloanremark" ng-disabled="formstate()">
	    </td>
	    <!-- ********************************** -->
	    <td>
	       <input type="text" name="fixationrestsum" ng-model="zijinchoubei.fixationrestsum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="fixationrestarrivetime" ng-model="zijinchoubei.fixationrestarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="fixationrestremark" ng-model="zijinchoubei.fixationrestremark" ng-disabled="formstate()">
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">流动资金(含建店保证金/加盟保证金/运营资金等)</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.streamownsum.$error.required || fundingForm.streamownarrivetime.$error.required || fundingForm.streamownremark.$error.required || fundingForm.streamloansum.$error.required || fundingForm.streamloanarrivetime.$error.required || fundingForm.streamloanremark.$error.required || fundingForm.streamrestsum.$error.required || fundingForm.streamrestarrivetime.$error.required || fundingForm.streamrestremark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.streamownarrivetime.$error.pattern || fundingForm.streamloanarrivetime.$error.pattern || fundingForm.streamrestarrivetime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.streamownsum.$error.pattern || fundingForm.streamloansum.$error.pattern || fundingForm.streamrestsum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	    <td colspan="3">自有</td>
	    <td colspan="3">贷款</td>
	    <td colspan="3">其他</td>
	  </tr>
	  <tr class="info-tr">
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	  <!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamownsum" ng-model="zijinchoubei.streamownsum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="streamownarrivetime" ng-model="zijinchoubei.streamownarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="streamownremark" ng-model="zijinchoubei.streamownremark" ng-disabled="formstate()">
	    </td>
		<!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamloansum" ng-model="zijinchoubei.streamloansum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="streamloanarrivetime" ng-model="zijinchoubei.streamloanarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="streamloanremark" ng-model="zijinchoubei.streamloanremark" ng-disabled="formstate()">
	    </td>
		<!-- 、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、 -->
	    <td>
	       <input type="text" name="streamrestsum" ng-model="zijinchoubei.streamrestsum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="streamrestarrivetime" ng-model="zijinchoubei.streamrestarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="streamrestremark" ng-model="zijinchoubei.streamrestremark" ng-disabled="formstate()">
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">建店保证金</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.cashdepositsum.$error.required || fundingForm.cashdepositarrivetime.$error.required || fundingForm.cashdepositremark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.cashdepositarrivetime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.cashdepositsum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="cashdepositsum" ng-model="zijinchoubei.cashdepositsum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="cashdepositarrivetime" ng-model="zijinchoubei.cashdepositarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="cashdepositremark" ng-model="zijinchoubei.cashdepositremark" ng-disabled="formstate()">
	    </td>
	  </tr>
	</table>
	<h3 class="funding-title">首批提车款</h3>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionmodelssum.$error.required || fundingForm.mentionmodelsarrivetime.$error.required || fundingForm.mentionmodelsremark.$error.required) && submitfunding">
    	请把信息补充完整
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionmodelsarrivetime.$error.pattern) && submitfunding">
    	到位时间请输入正确的时间格式 如右所示:YYYY/MM/DD
	</p>
	<p class="help-block zjchb" ng-show="(fundingForm.mentionmodelssum.$error.pattern) && submitfunding">
    	金额请输入大于0的数
	</p>
	<table class="fund-table table-bordered">
	  <tr class="info-tr">
	  	<td>金额(万)</td>
	  	<td>到位时间</td>
	  	<td>备注</td>
	  </tr>
	  <tr>
	    <td>
	       <input type="text" name="mentionmodelssum" ng-model="zijinchoubei.mentionmodelssum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
	    </td>
	    <td>
	       <input type="text" name="mentionmodelsarrivetime" ng-model="zijinchoubei.mentionmodelsarrivetime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
	    </td>
	    <td>
	       <input type="text" name="mentionmodelsremark" ng-model="zijinchoubei.mentionmodelsremark" ng-disabled="formstate()">
	    </td>
	  </tr>
	</table>
	<div class="text-center">
        <button type="submit" class="btn btn-primary" ng-disabled="formstate()" ng-click="flag5=fundingForm.$valid">保存</button>
        <span class="saveformts" ng-show='flag5'>信息已保存</span>
    </div>
</form>
