<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addkeyJob()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>职位</td>
    <td>姓名</td>
    <td>年龄</td>
    <td>教育程度</td>
    <td>汽车行业从业经验</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="user in keyJob" class="editable-row">
    <td>
        <span editable-text="user.post" e-name="post" e-form="userform" e-required>
          {{ user.post || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="userform" e-required>
          {{ user.name || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="user.age" e-name="age" e-form="userform" e-required>
          {{ user.age || '请输入数字'}}
        </span>
    </td>
    <td>
        <span editable-text="user.educationalStatus" e-name="educationalStatus" e-form="userform" e-required>
          {{ user.educationalStatus || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="user.Experience" e-name="Experience" e-form="userform" e-required>
          {{ user.Experience || '请输入数字'}}
        </span>
    </td>
    <td>
      <form editable-form name="userform" ng-show="userform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="userform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="aa()">
          保存
        </button>
        <button type="button" ng-disabled="userform.$waiting" ng-click="userform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!userform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="userform.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="delkeyJob($index)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
