<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addUser()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>序号</td>
    <td>姓名</td>
    <td>日常居住城市</td>
    <td>职务</td>
    <td>手机</td>
    <td>E-mail</td>
    <td>占股比例(%)</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="user in users" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="userform" e-required>
          {{ user.name || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.city" e-name="city" e-form="userform" e-required>
          {{ user.city || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.duty" e-name="duty" e-form="userform" e-required>
          {{ user.duty || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="user.cellphone" e-name="cellphone" e-form="userform" e-required e-pattern="1[3,5,8]\d{9}">
          {{ user.cellphone || "输入有效号码"}}
        </span>
    </td>
    <td>
        <span editable-email="user.Email" e-name="Email" e-form="userform" e-required>
          {{ user.Email || '请输入正确的邮箱格式'}}
        </span>
    </td>
    <td>
        <span editable-text="user.shark" e-name="shark" e-form="userform" e-required e-pattern="((\d+\.?\d*)|(\d*\.\d+))\%">
          {{ user.shark || "请输入百分比(%)"}}
        </span>
    </td>
    <td>
      <form editable-form name="userform" ng-show="userform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="userform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          保存
        </button>
        <button type="button" ng-disabled="userform.$waiting" ng-click="userform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!userform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="userform.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
<p class="help-block individual-p" ng-show="userform.cellphone.$error.pattern">
     请输入正确的时间格式
 </p>
