<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addnotcarShareholder()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>企业名称</td>
    <td>股权比例(%)</td>
    <td>主营业务</td>
    <td>上年度主营业务收入(万元)</td>
    <td>上年度净利润总额(万元)</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="user in notcarShareholder" class="editable-row">
    <td>
        <span editable-text="user.firmname" e-name="firmname" e-form="userform" e-required onbeforesave="checkNull($data)">
          {{ user.firmname || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.shark" e-name="shark" e-form="userform" e-required e-pattern="^([1-9]\d?(\.\d{1,2})?|0.\d{1,2}|100)$" onbeforesave="checkPercent($data)">
          {{ user.shark || '格式错误,请输入百分比(%)'}}
        </span>
    </td>
    <td>
        <span editable-text="user.mainbusiness" e-name="mainbusiness" e-form="userform" e-required onbeforesave="checkNull($data)">
          {{ user.mainbusiness || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="user.income" e-name="income" e-form="userform" e-required e-pattern="[1-9]\d*(\.\d+)?" onbeforesave="checkExceedzero($data)">
          {{ user.income || '格式错误,请输入大于0的数字'}}
        </span>
    </td>
    <td>
        <span editable-number="user.profit" e-name="profit" e-form="userform" e-required e-pattern="[1-9]\d*(\.\d+)?" onbeforesave="checkExceedzero($data)">
          {{ user.profit || '格式错误,请输入大于0的数字'}}
        </span>
    </td>
    <td>
      <form editable-form name="userform" ng-show="userform.$visible" class="form-buttons form-inline"
            shown="insertedfourgdfqcxs.firmname == user.firmname" onaftersave="saveTableDb()">
        <button type="submit" ng-disabled="userform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          保存
        </button>
        <button type="button" ng-disabled="userform.$waiting" ng-click="userform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!userform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="userform.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="delnotShareholder($index,user)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
