<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addSharesConstitute()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>股东</td>
    <td>出资额(万)</td>
    <td>出资比例(%)</td>
    <td>股东性质</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="user in SharesConstitute" class="editable-row">
    <td>
        <span editable-text="user.stockholder" e-name="stockholder" e-form="userformone" e-required>
          {{ user.stockholder || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="user.fundingSum" e-name="fundingSum" e-form="userformone" e-required>
          {{ user.fundingSum || '请输入数字' }}
        </span>
    </td>
    <td>
        <span editable-number="user.fundingRatio" e-name="fundingRatio" e-form="userformone" e-required>
          {{ user.fundingRatio || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-text="user.stockholderQuale" e-name="stockholderQuale" e-form="userformone" e-required>
          {{ user.stockholderQuale || '请输入信息'}}
        </span>
    </td>

    <td>
      <form editable-form name="userformone" ng-show="userformone.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="userformone.$waiting" class="btn btn-primary editable-table-button btn-xs">
          保存
        </button>
        <button type="button" ng-disabled="userformone.$waiting" ng-click="userformone.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!userformone.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="userformone.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeSharesConstitute($index)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
