<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addSharesConstitute()" ng-disabled="formstate()">新增</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr class="info-tr">
    <td>股东</td>
    <td>出资额(万)</td>
    <td>出资比例(%)</td>
    <td>股东性质</td>
    <td>操作</td>
  </tr>
  <tr ng-repeat="userone in SharesConstitute" class="editable-row">
    <td>
        <span editable-text="userone.stockholder" e-name="stockholder" e-form="usernameone" e-required>
          {{ userone.stockholder || '请输入信息'}}
        </span>
    </td>
    <td>
        <span editable-number="userone.fundingSum" e-name="fundingSum" e-form="usernameone" e-required e-pattern="[1-9]\d*(\.\d+)?">
          {{ userone.fundingSum || '请输入大于0的数字'}}
        </span>
    </td>
    <td>
        <span editable-text="userone.fundingRatio" e-name="fundingRatio" e-form="usernameone" e-required e-pattern="((\d+\.?\d*)|(\d*\.\d+))\%">
          {{ userone.fundingRatio || '请输入百分比(%)'}}
        </span>
    </td>
    <td>
        <span editable-text="userone.stockholderQuale" e-name="stockholderQuale" e-form="usernameone" e-required>
          {{ userone.stockholderQuale || '请输入信息'}}
        </span>
    </td>

    <td>
      <form editable-form name="usernameone" ng-show="usernameone.$visible" class="form-buttons form-inline"
            shown="inserted == userone">
        <button type="submit" ng-disabled="usernameone.$waiting" class="btn btn-primary editable-table-button btn-xs">
          保存
        </button>
        <button type="button" ng-disabled="usernameone.$waiting" ng-click="usernameone.$cancel()" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!usernameone.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="usernameone.$show()" ng-disabled="formstate()">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeSharesConstitute($index)" ng-disabled="formstate()">删除</button>
      </div>
    </td>
  </tr>
</table>
