
<div ba-panel ba-panel-title="合作商基础信息维护-> 类型维护" ba-panel-class="with-scroll">
	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group" style="margin-left: 5px;">
				<label class="individual-label">建店类型名称：</label>
				<input type="text" name="typeName" class="form-control individual-iput ion-search" ng-model="$scope.filter.$" placeholder="请输入要搜索的建店类型名称" required>
				
				 
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4 form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button type="button" class="btn btn-default" ng-click="add()" style="margin-right: 5px;"><i class="ion-plus"></i>新增子类型</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="horizontal-scroll">

		  	<table class="table table-hover" st-table="informations">
			    <thead>
				    <tr class="sortable">
				      <th class="table-id" st-sort="type" st-sort-default="true"style="width: 100px;">店面类型</th>
				      <th st-sort="width">面宽</th>
				      <th st-sort="height">层高</th>
				      <th st-sort="acreage">最小面积</th>
				      <th st-sort="minCarNum">最小展车数</th>
				      <th st-sort="minWorkstation">最小工位数</th>
				      <th st-sort="date">状态</th>
				      <th st-sort="zaozuo">操作</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr ng-repeat="item in informations | filter: $scope.filter" class="editable-tr-wrap">
				      <td class="table-id">{{item.type}}</td>
				      <td>{{item.width}}</td>
				      <td>{{item.height}}</td>
				      <td>{{item.acreage}}</td>
				      <td>{{item.minCarNum}}</td>
				      <td>{{item.minWorkstation}}</td>
				      <td>{{item.date}}</td>
				      <td>
				      	<button type="submit" class="btn btn-danger">暂停</button>
				      </td>

				    </tr>
			    </tbody>
			    <tfoot>
				    <tr>
				      <td colspan="9" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
		  	</table>
		</div>
			
	</div>
	
</div>