
<div class="widgets">
  <div class="row">
  	<div class="col-md-12">
      <div ba-panel ba-panel-title="代理商概览" ba-panel-class="with-scroll">

          <div class="form-group">
            <label class="individual-label">代理商代码:</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.num"  ng-disabled="true"/>
          </div>
          <div class="form-group">
            <label class="individual-label">申请公司:</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.compony"  ng-disabled="true"/>
          </div>
          <!-- <div class="form-group">
            <label class="individual-label">拟建店公司名称:</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.niCompony"  ng-disabled="true"/>
          </div> -->

          <div class="form-group">
            <label class="individual-label">联系人:</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.person"  ng-disabled="true"/>
          </div>
          <div class="form-group">
            <label class="individual-label">联系电话:</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.phone"  ng-disabled="true"/>
          </div>

          <!-- <div class="form-group">
            <label class="individual-label">最近提交时间 :</label>
            <input type="text" class="form-control individual-iput"  ng-model="dls.time"  ng-disabled="true"/>
          </div> -->
      </div>


    </div>
    <div class="col-md-12">
      <div ba-panel ba-panel-title="保证金设置" ba-panel-class="with-scroll">
        <form name="informForm">

            <div class="form-group">
              <label class="individual-label">保证金:</label>
              	<input type="number" class="form-control individual-iput" ng-model="inform.money" placeholder="请输入保证金金额" required>
            </div>
            <div class="form-group">
              <label class="individual-label">打款期限:</label>

                <input type="date"
                     class="form-control individual-iput" ng-model="inform.date"
                     min="2016-10-12"
                     max="2020-12-22"
                     required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-danger" ng-disabled="informForm.$invalid" ng-click="submit()">确认通知</button>
            </div>


        </form>
      </div>
    </div>
  </div>
</div>
