<uib-tabset active="$tabSetStatus.activeTab">

  <uib-tab heading="供应商合同">
    <form name="gysForm">
        <div class="col-md-6">
          <div style='margin-bottom:20px;' >
            <label style='display: inline-block;'>是否使用L品牌合作供应商
            </label>
               <label class="radio"
                      style='margin-left:60px;
                             display: inline-block;'>
                  <input type="radio"
                         value="true"
                         ng-checked="formData.radio"
                         ng-click="radioClick()"
                         ng-model="formData.radio"
                         ng-disabled="flag"
                         required="">是
               </label>
               <label class="radio"
                      style='margin-left:60px;
                             display:inline-block;'>
                  <input type="radio"
                         value="false"
                         ng-checked="formData.radio"
                         ng-click="radioClick()"
                         ng-model="formData.radio"
                         ng-disabled="flag"
                         required="">否
               </label>
          </div>

          <div class="sj  animate-show" style="margin-bottom:20px;"  ng-show="isOptional.show" >
            <label>L品牌合作供应商：</label>
            <div class="" style="width:210px;margin-bottom:20px;">
              <select  ng-model="suppmodel"
                       ng-change="getSuppID()"
                       style="width:180px;"
                       ng-disabled="flag"
                       ng-required="reSelect">
                <option value="" style="font-size:12px;color:#999999">请选择</option>
                <option style="font-size:12px;color:#666666" ng-repeat=" x in suppliers_data" >{{x.name}}</option>
              </select>
            </div>
          </div>

           <div class="sj  animate-show" style="margin-bottom:20px;"  ng-hide="isOptional.show" >
              <label>请输入您的供应商名称：</label>
              <div class="" style="width:210px;">
                <input type="text" ng-model="formData.supplierName" ng-disabled="flag" ng-required="Inp">
              </div>
           </div>

          <div class="sj" style="margin-bottom:20px;">
            <label>签订时间：</label>
            <input type="date"
                   ng-model="formData.signingTime"
                   min="2015-12-12"
                   max="2016-12-22"
                   ng-required="true"
                   ng-change="change()"
                   ng-disabled="flag">
          </div>
          <!-- <div class="sj" style="margin-bottom:20px;">
            <label>电子版合同：</label>
            <input type="file" id="inputfile" ng-model="formData.agreementFile">
          </div> -->
        </div>
        <div class="col-md-6">
          <div ba-panel ba-panel-title="供应商概览">

          		  <div class="form-group">
                  <label>供应商代码:</label>
                  <label type="text"
                         name="id"
                         class="form-control individual-iput"
                         ng-model="suppliers_data[sid].id"
                         ng-value="{{suppliers_data[sid].id}}"
                         disabled="true">{{suppliers_data[sid].id}}
                  </label>
                </div>
                <div class="form-group">
                  <label>公司名称:</label>
                  <label type="text"
                         name="name"
                         class="form-control individual-iput"
                         ng-model="suppliers_data[sid].name"
                         disabled="true">{{suppliers_data[sid].name}}
                  </label>
                </div>
                <div class="form-group">
                  <label>联系人:</label>
                  <label type="text"
                         name="contacts"
                         class="form-control individual-iput"
                         ng-model="suppliers_data[sid].contacts"
                         disabled="true">{{suppliers_data[sid].contacts}}
                  </label>
                </div>
          			<div class="form-group">
                  <label>联系电话:</label>
                  <label type="text"
                         name="cellphone"
                         class="form-control individual-iput"
                         ng-model="suppliers_data[sid].cellphone"
                         disabled="true">{{suppliers_data[sid].cellphone}}
                  </label>
                </div>
                <div class="form-group">
                  <label>简介：</label>
                  <textarea class="form-control"
                            placeholder="简介"
                            ng-model="suppliers_data[sid].userinfo"
                            disabled="true">{{ supplier.userinfo || 'empty' }}
                  </textarea>
                </div>
          </div>
        </div>
        <div class="button-wrapper">
          <button type="button"
                  class="btn btn-primary btn-lg"
                  ng-click="saveClick()"
                  ng-disabled="flag || gysForm.$invalid">保存
          </button>
        </div>

    </form>

  </uib-tab>
</uib-tabset>
