.dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
  
}
.vertical-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
