<div ba-panel ba-panel-title="网络发展/代理商运营/验收整改" ba-panel-class="with-scroll">

	<div class="col-md-6">
		<form ng-submit="add(CompanyForm)" novalidate name="CompanyForm">

			<div class="form-group">
				<label class="individual-label" id="partners1" style="font-size:14px;font-weight:bolder">申请代理商：
					<span class="individual-iput" id="partners">{{partners}}</span>
				</label>

			</div>
			<div class="form-group">
				<label class="individual-label" id="check1" style="font-size:14px;font-weight:bolder">上一次验收资料：
					<span class="individual-iput" id="check">{{information}}</span>
				</label>
			</div>

				<div class="form-group">
					<label class="info-lab">验收资料：</label>
					<div ng-file-drop ng-file-select ng-model="vm.files" class="dropzone"
							drag-over-class="dragover" ng-multiple="true" allow-dir="true"
							accept="">点击上传文件或者拖拽到这里</div>
					<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
					<img ng-src="{{vm.fileUrl}}/public/files/{{shop.jzcfhxFile[1]}}"  alt="" />

				</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary" ng-click="submit()">提交</button>
			</div>
		</form>

	</div>

</div>
