<div ba-panel ba-panel-title="网络发展/合作商运营/提交验收报告" ba-panel-class="with-scroll">

	<div class="col-md-6">
		<form name="CompanyForm">

			<div class="form-group">
				<label class="individual-label" id="partners1" style="font-size:14px;font-weight:bolder">申请代理商：
					<span class="individual-iput" id="partners">{{vm.partners}}</span>
				</label>
			</div>
			<div class="form-group">
				<label class="individual-label" id="informa1" style="font-size:14px;font-weight:bolder">验收资料：
					<span class="individual-iput" id="informa">{{vm.information}}</span>
				</label>
			</div>
			<div class="form-group">
				<label class="individual-label" id="oldinforma1" style="font-size:14px;font-weight:bolder">验收资料历史：
					<span class="individual-iput" id="oldinforma">{{vm.oldinformation}}</span>
				</label>
			</div>


			<div class="form-group form-inline">
				<label class="individual-label inline-block" style="font-size:14px;font-weight:bolder">验收结论：</label>
				<div style="display: inline-block;width: 50%">
					<select class="form-control" selectpicker title="验收结论" ng-model="vm.check.result" ng-options="item as item.label for item in vm.selectItems" required=""></select>
				</div>
			</div>
			<div class="form-group">
				<label class="individual-label" style="font-size:14px;font-weight:bolder">验收报告：</label>
				<input type="file" id="inputfile" class="form-control individual-iput" ng-model="vm.check.file">
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary" ng-disabled="CompanyForm.$invalid" ng-click="vm.submit()">提交</button>
			</div>
		</form>

	</div>

</div>
