<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">加盟打款保证金提醒</h4>
  </div>
  <div class="modal-body">
      将会以短信和邮件的形式提醒合作商打入加盟保证金，确定吗？
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">确定</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
  </div>
</div>
