<div class="info-check">
      <span ng-class="{ReviewShowed:show=='check0'}">待提交审核(填写信息时，请保证信息的真实性和完整性，
        <br>
        在保存所有信息之前请确保所有表单信息已经保存，提交审核后只能查看无法编辑)</span>
      <span ng-class="{ReviewShowed:show=='check1'}">审核已提交</span>
      <span ng-class="{ReviewShowed:show=='check2'}">恭喜你,审核已通过</span>
      <span ng-class="{ReviewShowed:show=='check3'}">审核未通过(请保证信息的真实性和完整性)原因：{{notInfo}} 请重新编辑后提交</span>

      <button ng-click="allSubmit()" class="btn btn-primary" id="allsubmit2" ng-disabled="formstate()">保存所有信息</button>

      <button ng-click="verifyDataSubmittingBtn()" class="btn btn-primary" ng-disabled="formstate() || saveSuccess" id="allsubmit">提交审核</button>
<!--       <p class="savats" ng-class="{savashow:save=='saveshow'}">信息保存成功!</p> -->
      <p class="savats" ng-class="{savashow:save=='savehide'}">请把表单信息补充完整后再提交信息!</p>
</div>
<div class="mask-layer" ng-class="{true:'maskshow',false:'maskhide'}[masklayer]">
  <div class="toolTip-box">
    <div class="toolTip-tit">确认要提交审核吗?</div>
    <div class="toolTip-btn">
      <button ng-click="toolTip('affirm')" class="btn btn-danger btnqr">确认</button>
      <button ng-click="toolTip('cancel')" class="btn btn-primary">取消</button>
   </div>
  </div>
</div>
<div class="mask-layer" ng-class="{true:'maskshow',false:'maskhide'}[masksave]">
  <div class="toolTip-box">
    <div class="toolTip-tit">确认要保存所有信息吗?</div>
    <div class="toolTip-btn">
      <button ng-click="toolTipsave('affirm')" class="btn btn-danger btnqr">确认</button>
      <button ng-click="toolTipsave('cancel')" class="btn btn-primary">取消</button>
   </div>
  </div>
</div>
<uib-tabset active="$tabSetStatus.activeTab">
<!-- ————————————————————代理商简述——————————————————————————— -->
  <uib-tab heading="代理商简述">
    <div class="row">
      <div class="col-md-12">
        <div id="title">
          <button ng-click="tabone('btn1')" class="btns" ng-class="{Selection:btn=='btn1'}">基本信息</button>
          <button ng-click="tabone('btn2')" class="btns" ng-class="{Selection:btn=='btn2'}">股份构成</button>
          <button ng-click="tabone('btn3')" class="btns" ng-class="{Selection:btn=='btn3'}">关键人员背景</button>
          <button ng-click="tabone('btn4')" class="btns" ng-class="{Selection:btn=='btn4'}">股份股东投资情况</button>
          <button ng-click="tabone('btn5')" class="btns" ng-class="{Selection:btn=='btn5'}">销售维修状况</button>
          <button ng-click="tabone('btn6')" class="btns" ng-class="{Selection:btn=='btn6'}">财务状况</button>
        </div>
        <div class="info-box" ng-switch="btn">

            <!-- 基本信息开始 -->
            <form ng-submit="basicInformation(BasicForm)" novalidate name="BasicForm" ng-switch-when="btn1">
              <div class="form-group">
                <label class="individual-label">申请公司全称:</label>
                <input type="text" name="companyName" class="form-control individual-iput" ng-model="agent.companyName"
                       required placeholder="公司全称" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.companyName.$error.required && submitbasic">
                  请输入公司全称
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">目前经营汽车品牌:</label>
                <input type="text" name="carBrand" class="form-control individual-iput" ng-model="agent.carBrand"
                       required placeholder="汽车品牌" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.carBrand.$error.required && submitbasic">
                  请输入目前经营汽车品牌
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">企业性质:</label>
                <input type="text" name="nature" class="form-control individual-iput" ng-model="agent.nature"
                       required placeholder="国有/合资/民营/股份/私有" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.nature.$error.required && submitbasic">
                  请输入企业性质
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">成立日期:</label>
                <input type="text" name="establishDate" class="form-control individual-iput" ng-model="agent.establishDate" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"/>
                <p class="help-block individual-p" ng-show="BasicForm.establishDate.$error.required && submitbasic">
                  请输入公司成立日期
                </p>
                <p class="help-block individual-p" ng-show="BasicForm.establishDate.$error.pattern && submitbasic">
                  请输入正确的日期格式 如右所示:YYYY/MM/DD
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">注册资本(万元):</label>
                <input type="text" name="registerCapital" class="form-control individual-iput" ng-model="agent.registerCapital"
                       required placeholder="注册资本（万），不加单位" ng-pattern="/^\+?[1-9]\d*$/" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.registerCapital.$error.required && submitbasic">
                  请输入注册资本
                </p>
                <p class="help-block individual-p" ng-show="BasicForm.registerCapital.$error.pattern && submitbasic">
                  注册资本大于0
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">法人代表:</label>
                <input type="text" name="legalRepresentative" class="form-control individual-iput" ng-model="agent.legalRepresentative" required ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.legalRepresentative.$error.required && submitbasic">
                  请输入法人代表
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">4s店数量(个):</label>
                <input type="text" name="shopNumber" class="form-control individual-iput" ng-model="agent.shopNumber"
                       required placeholder="4s店数量不加单位" ng-pattern="/^\+?[1-9]\d*$/" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.shopNumber.$error.required && submitbasic">
                  请输入4s店数量
                </p>
                <p class="help-block individual-p" ng-show="BasicForm.shopNumber.$error.pattern && submitbasic">
                  请输入大于0的数字
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">汽车销售经验(年):</label>
                <input type="text" name="sellSuffer" required class="form-control individual-iput" ng-model="agent.sellSuffer" placeholder="汽车销售经验，不加单位" ng-pattern="/^[1-9]\d*(\.\d+)?$/" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.sellSuffer.$error.pattern && submitbasic">
                  请输入大于0的数字
                </p>
                <p class="help-block individual-p" ng-show="BasicForm.sellSuffer.$error.required && submitbasic">
                  请输入大于0的数字
                </p>
              </div>
              <div class="form-group">
                <label class="individual-label">汽车售后服务经验(年):</label>
                <input type="text" name="afterSale" class="form-control individual-iput" ng-model="agent.afterSale"
                       required placeholder="汽车售后服务经验，不加单位" ng-pattern="/^[1-9]\d*(\.\d+)?$/" ng-disabled="formstate()"/>
                <p class="help-block individual-p" ng-show="BasicForm.afterSale.$error.required && submitbasic">
                  请输入汽车售后服务经验
                </p>
                <p class="help-block individual-p" ng-show="BasicForm.afterSale.$error.pattern && submitbasic">
                  请输入大于0的数字
                </p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="formstate()" ng-click="flag1=BasicForm.$valid">保存</button>
                <span class="saveformts" ng-show='flag1'>信息已保存</span>
              </div>
            </form>


            <!--股份构成  -->
            <div class="row" ng-switch-when="btn2">
                  <div class="col-md-12">
                    <div style="color:red;margin-bottom:10px">股东之间有亲属关系（如父子、母女、兄弟、姐妹等）请注明，如有公司法人股东时，该法人股东的股份结构也需分解，直至全部为自然人股东</div>
                    <div ba-panel ba-panel-title="公司" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/sharesConstitute.html"></div>
                    </div>
                  </div>
            </div>
            <!-- 关键人员背景 -->
            <div class="row" ng-switch-when="btn3">
                  <div class="col-md-12">
                    <div ba-panel ba-panel-title="请填写实际控股投资人、董事长、总经理的背景信息" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/keyPersonnelTable.html"></div>
                    </div>
                  </div>
            </div>
            <!-- 股份股东投资情况 -->
            <div class="row" ng-switch-when="btn4">
                  <div class="col-md-12">
                    <div ba-panel ba-panel-title=" " ba-panel-class="with-scroll">
                      <uib-tabset>
                        <uib-tab heading="汽车销售领域">
                          <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/carSalesTable.html"></div>
                        </uib-tab>
                        <uib-tab heading="非汽车销售领域">
                          <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/notcarSalesTable.html"></div>
                        </uib-tab>
                      </uib-tabset>
                    </div>
                  </div>
            </div>
            <!-- 销售维修状况 -->
            <div class="row" ng-switch-when="btn5">
                  <div class="col-md-12">
                    <div ba-panel ba-panel-title="控股股东所有汽车4S店/授权展厅/授权维修站销售维修状况" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/repairStatusTable.html"></div>
                    </div>
                  </div>
            </div>
            <!-- 财务状况 -->
            <div class="row" ng-switch-when="btn6">
                  <div class="col-md-12">
                    <div ba-panel ba-panel-title="至少需要提供最近三年的年度财务报表复印件，并加盖公司财务章扫描件" ba-panel-class="with-scroll">
                      <uib-tabset>
                        <uib-tab heading="财务报表">
                          <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/financeStatusTable.html"></div>
                        </uib-tab>
                        <uib-tab heading="资信情况">
                          <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/creditStanding.html"></div>
                        </uib-tab>
                      </uib-tabset>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>

  </uib-tab>
<!-- —————————————————————拟建店简述——————————————————————— -->
  <uib-tab heading="拟建店简述">
    <div class="row">
      <div class="col-md-12">
        <div id="title">
          <button ng-click="btn2='btn21'" class="btns" ng-class="{Selection:btn2=='btn21'}">建店场地情况</button>
          <button ng-click="btn2='btn22'" class="btns" ng-class="{Selection:btn2=='btn22'}">建店城市商圈</button>
          <button ng-click="btn2='btn23'" class="btns" ng-class="{Selection:btn2=='btn23'}">建店场地相关资料</button>
        </div>
        <div class="info-box" ng-switch="btn2">
          <!-- 建店场地情况 -->
          <form ng-submit="buildStoreSite(bssForm)" novalidate name="bssForm" ng-switch-when="btn21" id="basic">
              <div class="form-group">
                <label class="info-lab">拟申请商圈</label>
                <!-- <input type="text" name="tradeArea" ng-model="agent.tradeArea" ng-disabled="formstate()" required/>
                <p class="help-block njdsq-p" ng-show="bssForm.tradeArea.$error.required && submitbss">
                  请输入拟申请商圈
                </p> -->





              </div>
              <div class="form-group">
                <label class="info-lab">拟建店详细地址</label>
                <input type="text" name="address" ng-model="agent.address" required ng-disabled="formstate()">
                <p class="help-block njdsq-p" ng-show="bssForm.address.$error.required && submitbss">
                  请输入拟建店详细地址
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">拟建店位置</label>
                <select name="locations" ng-model="agent.locations" ng-options="item.id as item.text for item in locations" ng-disabled="formstate()" required>
                </select>
                <p class="help-block njdsq-p" ng-show="bssForm.locations.$error.required && submitbss">
                  请选着拟建店详细地址
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">拟建店所在商圈概况</label>
                  <div class="inner-box">
                    <div class="inner-box-child">
                      <label>商圈名称</label>
                      <input type="text" name="businessName" ng-model="agent.businessName" required ng-disabled="formstate()">
                      <p class="help-block njdsq-p" ng-show="bssForm.businessName.$error.required && submitbss">
                        请输入商圈名称
                      </p>
                    </div>
                    <div class="inner-box-child">
                      <label>形成时间</label>
                      <input type="text" name="formationTime" ng-model="agent.formationTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/" placeholder="YYYY/MM/DD">
                      <p class="help-block njdsq-p" ng-show="bssForm.formationTime.$error.required && submitbss">
                        请输入形成时间
                      </p>
                      <p class="help-block njdsq-p" ng-show="bssForm.formationTime.$error.pattern && submitbss">
                        请输入正确的时间格式
                      </p>
                    </div></br>
                    <div class="inner-box-child">
                      <label>规模排名</label>
                      <input type="text" name="scaleRanked" ng-model="agent.scaleRanked" required ng-disabled="formstate()">
                      <p class="help-block njdsq-p" ng-show="bssForm.scaleRanked.$error.required && submitbss">
                        请输入规模排名
                      </p>
                    </div>
                    <div class="inner-box-child">
                      <label>品牌数量</label>
                      <input type="text" name="brandNum" ng-model="agent.brandNum" required ng-disabled="formstate()" ng-pattern="/^\+?[1-9]\d*$/">
                      <p class="help-block njdsq-p" ng-show="bssForm.brandNum.$error.required && submitbss">
                        请输入品牌数量
                      </p>
                      <p class="help-block njdsq-p" ng-show="bssForm.brandNum.$error.pattern && submitbss">
                        请大于0的整数
                      </p>
                    </div></br>
                    <div class="inner-box-child">
                      <label>品牌明细</label>
                      <input type="text" name="brandDetail" ng-model="agent.brandDetail" required ng-disabled="formstate()">
                      <p class="help-block njdsq-p" ng-show="bssForm.brandDetail.$error.required && submitbss">
                        请输入品牌明细
                      </p>
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label class="info-lab">土地来源</label>
                <select name="landSources" ng-model="agent.landSources" ng-options="item.id as item.text for item in landSources" ng-disabled="formstate()" required>
                </select>
                <p class="help-block njdsq-p" ng-show="bssForm.landSources.$error.required && submitbss">
                        请选着土地来源
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">土地性质</label>
                <div class="inner-box">
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" name="landStatus" required id="gyyd" ng-model="agent.landStatus" value="工业用地" ng-disabled="formstate()"><label for="gyyd">工业用地</label></div></div>
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" name="landStatus" required id="syyd" ng-model="agent.landStatus" value="商业用地" ng-disabled="formstate()"><label for="syyd">商业用地</label></div></div>
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" name="landStatus" required id="nyyd" ng-model="agent.landStatus" value="农业用地" ng-disabled="formstate()"><label for="nyyd">农业用地</label></div></div>
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" name="landStatus" required id="qtyd" ng-model="agent.landStatus" value="其它" ng-disabled="formstate()"><label for="qtyd">其它</label></div></div>
                  <p class="help-block njdsq-p" ng-show="bssForm.landStatus.$error.required && submitbss">
                      请选择土地性质
                  </p>
                </div>
              </div>
              <div class="form-group" ng-hide="agent.landSources=='已购买'">
                <label class="info-lab">租赁期限</label>
                <div class="inner-box">
                  <input type="text" name="leaseStart" ng-model="agent.leaseStart" ng-disabled="formstate()" required ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"><span>至</span><input type="text" name="leaseEnd" ng-model="agent.leaseEnd" ng-disabled="formstate()" required ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
                  <p class="help-block njdsq-p" ng-show="(bssForm.leaseStart.$error.required && submitbss) || (bssForm.leaseEnd.$error.required && submitbss)">
                      请输入租赁期限
                  </p>
                  <p class="help-block njdsq-p" ng-show="(bssForm.leaseStart.$error.pattern && submitbss) || (bssForm.leaseEnd.$error.pattern && submitbss)">
                      请输入正确的时间格式 如右所示:YYYY/MM/DD
                  </p>
                </div>
              </div>
              <div class="form-group" ng-hide="agent.notfirstShopone==true || agent.notfirstShoptwo==true || agent.notfirstShopthree==true || agent.notfirstShopfour==true || agent.notfirstShopfive==true">
                <label class="info-lab">该城市首店</label>
                <div class="inner-box">
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="firstShop" ng-model="agent.firstshopone" id="firstshop1" value="标准4S店"  ng-disabled="formstate()"><label for="firstshop1">标准4S店</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="firstShop" ng-model="agent.firstshoptwo" id="firstshop2" ng-disabled="formstate()"><label for="firstshop2">SR/商超店+独立维修站(E级)</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="firstShop" ng-model="agent.firstshopthree" id="firstshop3" ng-disabled="formstate()"><label for="firstshop3">SR/商超店+快修店+独立维修站(E级)</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="firstShop" ng-model="agent.firstshopfour" id="firstshop4" ng-disabled="formstate()"><label for="firstshop4">SR/商超店+快修店(F级,已有吉利维修站升级等)</label></div>
                </div>
              </div>
              <div class="form-group" ng-hide="agent.firstshopone==true || agent.firstshoptwo==true || agent.firstshopthree==true || agent.firstshopfour==true">
                <label class="info-lab">非该城市首店</label>
                <div class="inner-box">
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="notfirstShop" ng-model="agent.notfirstShopone" id="notfirstshop1" ng-disabled="formstate()"><label for="notfirstshop1">4S店</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="notfirstShop" ng-model="agent.notfirstShoptwo" id="notfirstshop2" ng-disabled="formstate()"><label for="notfirstshop2">品牌体验中心</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="notfirstShop" ng-model="agent.notfirstShopthree" id="notfirstshop3" ng-disabled="formstate()"><label for="notfirstshop3">快修店</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="notfirstShop" ng-model="agent.notfirstShopfour" id="notfirstshop4" ng-disabled="formstate()"><label for="notfirstshop4">独立维修站</label></div>
                  <div class="inner-box-child"><input type="checkbox" ng-true-value="true" ng-false-value="false" name="notfirstShop" ng-model="agent.notfirstShopfive" id="notfirstshop5" ng-disabled="formstate()"><label for="notfirstshop4">商超店</label></div>
                </div>
              </div>
              <div class="form-group">
                <label class="info-lab">建设方式</label>
                <div class="inner-box-child">
                  <input type="radio" name="jsMode" id="jsfsxj" value="新建" ng-model="agent.jsMode" ng-disabled="formstate()" required>
                  <label for="jsfsxj">新建</label>
                </div>
                <div class="inner-box-child">
                  <input type="radio" name="jsMode" id="jsfsgj" value="改建" ng-model="agent.jsMode" ng-disabled="formstate()" required>
                  <label for="jsfsgj">改建</label>
                </div>
                <p class="help-block njdsq-p" ng-show="bssForm.jsMode.$error.required && submitbss">
                      请选择建设方式
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">申请级别</label>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeA" value="A级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeA">A级</label>&nbsp;</div>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeB" value="B级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeB">B级</label>&nbsp;</div>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeC" value="C级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeC">C级</label>&nbsp;</div>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeD" value="D级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeD">D级</label>&nbsp;</div>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeE" value="E级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeE">E级</label>&nbsp;</div>
                <div class="inner-box-child"><input type="radio" required name="sqGrade" id="sqGradeF" value="F级" ng-model="agent.sqGrade" ng-disabled="formstate()"><label for="sqGradeF">F级</label>&nbsp;</div>
                <p class="help-block njdsq-p" ng-show="bssForm.sqGrade.$error.required && submitbss">
                      请选择申请级别
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">建设时间</label>
                <div class="inner-box">
                  <div class="inner-box-child"><label>开工时间</label><input type="text" name="constructionStart" ng-model="agent.constructionStart" ng-disabled="formstate()" required ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"></div>
                  <div class="inner-box-child"><label>完工时间</label><input type="text" name="constructionEnd" ng-model="agent.constructionEnd" ng-disabled="formstate()" required ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/"></div>
                  <p class="help-block njdsq-p" ng-show="(bssForm.constructionStart.$error.required && submitbss) || (bssForm.constructionEnd.$error.required && submitbss)">
                      请输入建设时间
                  </p>
                  <p class="help-block njdsq-p" ng-show="(bssForm.constructionStart.$error.pattern && submitbss) || (bssForm.constructionEnd.$error.pattern && submitbss)">
                      请输入正确的时间格式 如右所示:YYYY/MM/DD
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="info-lab">规划店面</label>
                  <div class="inner-box">
                    <div class="inner-box-child"><label>土地面积(m²)</label><input type="text" name="soilArea" ng-model="agent.soilArea" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>土地宽度(m)</label><input type="text" name="soilWidth" ng-model="agent.soilWidth" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>土地纵深(m)</label><input type="text" name="soilDepth" ng-model="agent.soilDepth" ng-disabled="formstate()" required></br></div>
                    <div class="inner-box-child"><label>建筑面积(m²)</label><input type="text" name="buildArea" ng-model="agent.buildArea" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>建筑宽度(m)</label><input type="text" name="buildWidth" ng-model="agent.buildWidth" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>建筑纵深(m)</label><input type="text" name="buildDepth" ng-model="agent.buildDepth" ng-disabled="formstate()" required></br></div>
                    <div class="inner-box-child"><label>整体高度(m)</label><input type="text" name="overallHeight" ng-model="agent.overallHeight" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>展示区高度(m)</label><input type="text" name="showcaseHeight" ng-model="agent.showcaseHeight" ng-disabled="formstate()" required></div>
                    <div class="inner-box-child"><label>售后建筑面积(不含停车场,m²)</label><input type="text" name="afterSaleBuildArea" ng-model="agent.afterSaleBuildArea" ng-disabled="formstate()" required></br></div>
                    <p class="help-block njdsq-p" ng-show="(bssForm.soilArea.$error.required && submitbss) || (bssForm.soilWidth.$error.required && submitbss) || (bssForm.soilDepth.$error.required && submitbss) || (bssForm.buildArea.$error.required && submitbss) || (bssForm.buildWidth.$error.required && submitbss) || (bssForm.buildDepth.$error.required && submitbss) || (bssForm.overallHeight.$error.required && submitbss) || (bssForm.showcaseHeight.$error.required && submitbss) || (bssForm.afterSaleBuildArea.$error.required && submitbss)">
                      请把店面规划信息填写完整
                    </p>
                  </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="formstate()" ng-click="flag3=bssForm.$valid">保存</button>
                <span class="saveformts" ng-show='flag3'>信息已保存</span>
              </div>
          </form>
            <!-- 建店城市商圈 -->
          <div class="row" ng-switch-when="btn22">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title=" " ba-panel-class="with-scroll">
                    <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/businessAreaTable.html"></div>
                    <div class="inner-box-njdjs">

                    </div>
                    <div class="inner-box-njdjs">

                    </div>
                  </div>
              </div>
          </div>
            <!-- 建店场地相关资料 -->
          <div class="row" ng-switch-when="btn23">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title=" " ba-panel-class="with-scroll">
                    <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/BuiltShopSiteTable.html"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
<!-- —————————————————————拟建店筹备——————————————————————————————— -->
  <uib-tab heading="拟建店筹备">
    <div class="row">
      <div class="col-md-12">
        <div id="title">
          <button ng-click="btn3='btn31'" class="btns" ng-class="{Selection:btn3=='btn31'}">新公司筹备</button>
          <button ng-click="btn3='btn32'" class="btns" ng-class="{Selection:btn3=='btn32'}">新公司股权结构</button>
          <button ng-click="btn3='btn33'" class="btns" ng-class="{Selection:btn3=='btn33'}">资金筹备</button>
          <button ng-click="btn3='btn34'" class="btns" ng-class="{Selection:btn3=='btn34'}">店面建设计划</button>
          <button ng-click="btn3='btn35'" class="btns" ng-class="{Selection:btn3=='btn35'}">关键岗位组建筹备</button>
          <button ng-click="btn3='btn36'" class="btns" ng-class="{Selection:btn3=='btn36'}">组织架构筹备</button>
        </div>
        <div class="info-box" ng-switch="btn3">
          <!-- 新公司筹备 -->
          <form ng-submit="newCompanyPrepare(newCPForm)" novalidate name="newCPForm" ng-switch-when="btn31" id="StoreSite">
              <div style="color:red;margin-bottom:20px;">注: 1. 如果不注册新公司，使用已有公司，则请在表格中填写拟使用的公司信息；</div>
              <div class="form-group">
                <label class="info-lab-a">是否重新注册具有独立法人资格的新公司</label>
                <div class="inner-box">
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" required name="LPstatus" id="YesLPstatus" ng-model="agent.LPstatus" value="是" ng-disabled="formstate()"><label for="YesLPstatus">是</label></div></div>
                  <div class="inner-box-child"><div class="inner-box-child"><input type="radio" required name="LPstatus" id="NotLPstatus" ng-model="agent.LPstatus" value="否" ng-disabled="formstate()"><label for="NotLPstatus">否</label></div>
                  </div>
                  <p class="help-block" ng-show="newCPForm.LPstatus.$error.required && submitnewCP" style="color:red">
                  请选择是否重新注册具有独立法人资格的新公司
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="info-lab">公司名称</label>
                <input type="text" name="companyName" ng-model="agent.companyName" required ng-disabled="formstate()">
                <p class="help-block njdsq-p" ng-show="newCPForm.companyName.$error.required && submitnewCP">
                  请输入公司名称
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">注册地址</label>
                <input type="text" name="registeredAddress" ng-model="agent.registeredAddress" required ng-disabled="formstate()">
                <p class="help-block njdsq-p" ng-show="newCPForm.registeredAddress.$error.required && submitnewCP">
                  请输入注册地址
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">企业性质</label>
                <select name="corporateProperty" ng-model="agent.corporateProperty" ng-options="item.id as item.text for item in EN" ng-disabled="formstate()" required>
                </select>
                <p class="help-block njdsq-p" ng-show="newCPForm.corporateProperty.$error.required && submitnewCP">
                  请输入企业性质
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">维修资质</label>
                <select name="MaintenanceQualification" ng-model="agent.MaintenanceQualification" ng-options="item.id as item.text for item in MQ" ng-disabled="formstate()" required>
                </select>
                <p class="help-block njdsq-p" ng-show="newCPForm.MaintenanceQualification.$error.required && submitnewCP">
                  请选择维修资质
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">公司注册时间</label>
                <input type="text" name="registrationTime" ng-model="agent.registrationTime" required ng-disabled="formstate()" ng-pattern="/^\d{4}(\-|\/|\.)\d{1,2}\1\d{1,2}$/">
                <p class="help-block njdsq-p" ng-show="newCPForm.registrationTime.$error.required && submitnewCP">
                  请输入公司注册时间
                </p>
                <p class="help-block njdsq-p" ng-show="newCPForm.registrationTime.$error.pattern && submitnewCP">
                  请输入正确的时间格式 如右所示:YYYY/MM/DD
                </p>
              </div>
              <div class="form-group">
                <label class="info-lab">公司注册地址</label>
                <input type="text" name="rirmRegisteredAddress" ng-model="agent.rirmRegisteredAddress" required ng-disabled="formstate()">
                <p class="help-block njdsq-p" ng-show="newCPForm.rirmRegisteredAddress.$error.required && submitnewCP">
                  请输入公司注册地址
                </p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="formstate()" ng-click="flag4=newCPForm.$valid">保存</button>
                <span class="saveformts" ng-show='flag4'>信息已保存</span>
              </div>
          </form>
          <!-- 新公司股权结构 -->
          <div class="row" ng-switch-when="btn32">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/newEquityStructureTable.html"></div>
                  </div>
              </div>
          </div>
          <!-- 资金筹备 -->
          <div class="row" ng-switch-when="btn33">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/fundingTable.html"></div>
                  </div>
              </div>
          </div>
          <!-- 店面建设计划 -->
          <div class="row" ng-switch-when="btn34">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/DMconstructionPlanTable.html"></div>
                  </div>
              </div>
          </div>
          <!-- 关键岗位组建筹备 -->
          <div class="row" ng-switch-when="btn35">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                      <div style="color:red;margin-bottom:10px;">请务必填写董事长、总经理、销售经理、售后经理、市场部经理岗位人员信息</div>
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/keyJobTable.html"></div>
                  </div>
              </div>
          </div>
          <!-- 组织架构筹备 -->
          <div class="row" ng-switch-when="btn36">
              <div class="col-md-12">
                  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                      <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/organizationChartTable.html"></div>
                  </div>
              </div>
          </div>


        </div>
      </div>
    </div>
  </uib-tab>
<!-- —————————————————————营销预测分析——————————————————————————————— -->
  <uib-tab heading="营销预测分析">
    <div class="row">
      <div class="col-md-12">
        <div class="info-box">
          <div include-with-scope="app/pages/dailishang/ruwangguanli/info/editTable/predictiveParsingTable.html"></div>
        </div>
      </div>
    </div>
  </uib-tab>

</uib-tabset>
