<style media="screen">
  .widthFix {
    width:100px;
  }
</style>
<uib-tabset active="$tabSetStatus.activeTab">
  <uib-tab heading="全部">
    <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="全部" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap widthFix">
              <label>每页显示条数
                <select class="widthFix form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
              </label>
            </div>
            <table class="table" st-table="applicants">
              <thead>
              <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                <th st-sort="area">区域</th>
                <th st-sort="company">申请公司</th>
                <th st-sort="person">联系人</th>
                <th st-sort="phone">手机号码</th>
                <th st-sort="state">当前状态</th>
                <th st-sort="date">最近提交时间</th>
                <th st-sort="state">操作</th>
              </tr>
              <tr>
                <th></th>
                <th><input st-search="area" placeholder="Search area" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="company" placeholder="Search company" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="person" placeholder="Search person" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="state" placeholder="Search state" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="date" placeholder="Search date" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in applicants">
                <td class="table-id">{{item.id}}</td>
                <td>{{item.area}}</td>
                <td>{{item.company}}</td>
                <td>{{item.person}}</td>
                <td>{{item.phone}}</a></td>
                <td>{{item.state}}</td>
                <td>{{item.date}}</td>
                <td><a ui-sref="components.designcheck({obj:item})">查看</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>


  </uib-tab>
  <uib-tab heading="待提交初稿">
    <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="待提交初稿" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap widthFix">
              <label>每页显示条数
                <select class="widthFix form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
              </label>
            </div>
            <table class="table" st-table="applicants1">
              <thead>
              <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                <th st-sort="area">区域</th>
                <th st-sort="company">申请公司</th>
                <th st-sort="person">联系人</th>
                <th st-sort="phone">手机号码</th>
                <th st-sort="state">当前状态</th>
                <th st-sort="date">最近提交时间</th>
                <th st-sort="state">操作</th>
              </tr>
              <tr>
                <th></th>
                <th><input st-search="area" placeholder="Search area" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="company" placeholder="Search company" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="person" placeholder="Search person" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <!-- <th>
            			<select class="form-control">
            				<option>全部</option>
            				<option>待勘查内容确认</option>
            				<option>设计初稿待审批</option>
            				<option>设计初稿待领导审批</option>
            				<option>设计终稿待审批</option>
                    <option>设计终稿待领导审批</option>
            			</select>
                  <input st-search="state" placeholder="Search state" class="input-sm form-control search-input widthFix" type="search"/>
                </th> -->
                <th><input st-search="state" placeholder="Search state" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="date" placeholder="Search date" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in applicants1">
                <td class="table-id">{{item.id}}</td>
                <td>{{item.area}}</td>
                <td>{{item.company}}</td>
                <td>{{item.person}}</td>
                <td>{{item.phone}}</a></td>
                <td>{{item.state}}</td>
                <td>{{item.date}}</td>
                <td><a ui-sref="ba.designfirst({obj:item})">查看</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>


  </uib-tab>
  <uib-tab heading="待提交终稿">
    <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="待提交终稿" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap widthFix">
              <label>每页显示条数
                <select class="widthFix form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
              </label>
            </div>
            <table class="table" st-table="applicants2">
              <thead>
              <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                <th st-sort="area">区域</th>
                <th st-sort="company">申请公司</th>
                <th st-sort="person">联系人</th>
                <th st-sort="phone">手机号码</th>
                <th st-sort="state">当前状态</th>
                <th st-sort="date">最近提交时间</th>
                <th st-sort="state">操作</th>
              </tr>
              <tr>
                <th></th>
                <th><input st-search="area" placeholder="Search area" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="company" placeholder="Search company" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="person" placeholder="Search person" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="state" placeholder="Search state" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="date" placeholder="Search date" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in applicants2">
                <td class="table-id">{{item.id}}</td>
                <td>{{item.area}}</td>
                <td>{{item.company}}</td>
                <td>{{item.person}}</td>
                <td>{{item.phone}}</a></td>
                <td>{{item.state}}</td>
                <td>{{item.date}}</td>
                <td><a ui-sref="ba.designfinal({obj:item})">查看</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>


  </uib-tab>
  <uib-tab heading="已完成">
    <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="已完成" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap widthFix">
              <label>每页显示条数
                <select class="widthFix form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
              </label>
            </div>
            <table class="table" st-table="applicants3">
              <thead>
              <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                <th st-sort="area">区域</th>
                <th st-sort="company">申请公司</th>
                <th st-sort="person">联系人</th>
                <th st-sort="phone">手机号码</th>
                <th st-sort="state">当前状态</th>
                <th st-sort="date">最近提交时间</th>
                <th st-sort="state">操作</th>
              </tr>
              <tr>
                <th></th>
                <th><input st-search="area" placeholder="Search area" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="company" placeholder="Search company" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="person" placeholder="Search person" class="input-sm form-control search-input widthFix"
                           type="search"/></th>
                <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="state" placeholder="Search state" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th><input st-search="date" placeholder="Search date" class="input-sm form-control search-input widthFix" type="search"/>
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in applicants3">
                <td class="table-id">{{item.id}}</td>
                <td>{{item.area}}</td>
                <td>{{item.company}}</td>
                <td>{{item.person}}</td>
                <td>{{item.phone}}</a></td>
                <td>{{item.state}}</td>
                <td>{{item.date}}</td>
                <td><a ui-sref="ba.designfinished({obj:item})">查看</a></td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>


  </uib-tab>


</uib-tabset>
