<style media="screen">
  .widthFix {
    width:100px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="供应商/合同管理列表" ba-panel-class="with-scroll">
      <div class="horizontal-scroll">
        <div class="form-group select-page-size-wrap widthFix">
          <label>每页显示条数
            <select class="widthFix form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
          </label>
          <button class="btn btn-default" ng-click="add()"><i class="ion-plus"></i>添加</button>
        </div>
        <table class="table" st-table="applicants">
          <thead>
            <tr class="sortable">
              <th class="table-id" st-sort="id" st-sort-default="true">#</th>
              <th st-sort="address">地址</th>
              <th st-sort="name">申请公司</th>
              <th st-sort="person">联系人</th>
              <th st-sort="cellphone">手机号码</th>
              <th st-sort="status">当前状态</th>
              <th st-sort="updateAt">最近提交时间</th>
              <th st-sort="caozuo">操作</th>
            </tr>
            <tr>
              <th><input st-search="" placeholder="Search " class="input-sm form-control search-input widthFix table-id"
                         type="search"/></th>
              <th><input st-search="name" placeholder="Search name" class="input-sm form-control search-input widthFix"
                         type="search"/></th>
              <th><input st-search="address" placeholder="Search address" class="input-sm form-control search-input widthFix"
                         type="search"/></th>
              <th><input st-search="ownName" placeholder="Search ownName" class="input-sm form-control search-input widthFix"
                         type="search"/></th>
              <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input widthFix" type="search"/></th>
              <th><input st-search="createAt" placeholder="Search createAt" class="input-sm form-control search-input widthFix"
                         type="search"/></th>
              <th><input st-search="number" placeholder="Search number" class="input-sm form-control search-input widthFix"
                         type="search"/></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in applicants">
              <td class="table-id">{{$index+1}}</td>
              <td>{{item.address||'北京'}}</td>
              <td>{{item.name}}</td>
              <td>{{item.person}}</td>
              <td>{{item.cellphone}}</a></td>
              <td>{{item.status||"未开始"}}</td>
              <td>{{item.updateAt| date:"MM/dd/yyyy"}}</td>
              <td><a ui-sref="ba.contractglview({obj:item})">查看</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
