<uib-tabset active="$tabSetStatus.activeTab">
  <uib-tab heading="施工准备">
    <div class="sgzb">
      <div class="prompt">
        <p>请按下面的要求依次完成，方可进入施工管理阶段</p>
      </div>

      <div class="judge">
        <label class="">是否报规</label>
        <label class="radio">
          <input type="radio" ng-model="options.type1" value="yes"/><span>是</span>
        </label>
        <label class="radio">
          <input type="radio" ng-model="options.type1" value="no"/><span>否</span>
        </label>
      </div>
      <div class="judge">
        <label class="">是否完成环评</label>
        <label class="radio">
          <input type="radio" ng-model="options.type2" value="yes"/><span>是</span>
        </label>
        <label class="radio">
          <input type="radio" ng-model="options.type2" value="no"/><span>否</span>
        </label>
      </div>
      <div class="upload" style="float:left;margin-bottom:20px">
        <label>土建招标</label>
        <input type="file" id="inputfile" ng-model="tjfile">
      </div>
      <div class="upload" style="margin-bottom:20px">
        <label>装饰招标</label>
        <input type="file" id="inputfile" ng-model="zsfile">
      </div>
      <div class="upload" style="float:left;margin-bottom:20px">
        <label>报&nbsp;&nbsp;&nbsp;建</label>
        <input type="file" id="inputfile" ng-model="bjfile">
      </div>
      <div class="upload" style="margin-bottom:20px">
        <label>消&nbsp;&nbsp;&nbsp;防</label>
        <input type="file" id="inputfile" ng-model="xffile">
      </div>
      <div class="button-wrapper"><button type="button" class="btn btn-primary btn-lg" ng-click="saveClick()">保存</button></div>
    </div>
  </uib-tab>
  <uib-tab heading="施工图">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div ba-panel ba-panel-title="代理商概览">
        <form>
          <div class="form-group">
            <label>代理商:</label>
            <label type="text"
                   name="name"
                   class="form-control individual-iput"
                   ng-model="agent.name"
                   disabled="true">
                   {{agent.name}}
            </label>
          </div>
          <div class="form-group">
            <label>新建店:</label>
            <label type="text"
                   name="store"
                   class="form-control individual-iput"
                   ng-model="agent.store"
                   disabled="true">
                   {{agent.store}}
            </label>
          </div>
          <div class="form-group">
            <label>设计厂商:</label>
            <label type="text"
                   name="design"
                   class="form-control individual-iput"
                   ng-model="agent.design"
                   disabled="true">
                   {{agent.design}}
            </label>
          </div>
          <div class="form-group">
            <label>提交人:</label>
            <label type="text"
                   name="person"
                   class="form-control individual-iput"
                   ng-model="agent.person"
                   disabled="true">
                   {{agent.person}}
             </label>
          </div>
          <div class="form-group">
            <label>提交时间:</label>
            <input type="date"
                   ng-model="agent.date"
                   min="2015-12-12"
                   max="2016-12-22"
                   rquired
                   disabled="true"/>
          </div>
          <div class="form-group">
            <label>状态:</label>
            <label type="text"
                   name="person"
                   class="form-control individual-iput"
                   ng-model="agent.state"
                   disabled="true">
                   {{agent.state}}
            </label>
          </div>
          <div class="form-group">
            <label>技术交底书:</label>
            <input type="file"
                   id="inputfile"
                   ng-model="agent.file"
                   disabled="true">
          </div>
          <div class="form-group">
            <label>施工图:</label>
            <input type="file" id="inputfile" ng-model="agent.page">
          </div>
          <div class="form-group" ng-show="!flag" style="text-align:center">
            <button type="submit"
                    class="btn btn-primary"
                    ng-click="submitClick()">提交
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-click="cancelClick()">取消
            </button>
          </div>

        </form>

      </div>
    </div>
    <div class="col-md-3">
    </div>

  </uib-tab>
  <uib-tab heading="施工周报">
    <div class="sgzb1">
      <div class="sgzq" style="font-size:16px;font-weight:bolder">
        施工周期：2016.1.1至2016.8.1
      </div>
      <hr style="width:100%;display:inline-block;transform:translateY(5px)"/>
      <div class="bt">
        <label class="col-md-2">阶&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段</label>
        <label class="col-md-2">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</label>
        <label class="col-md-3">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作</label>
        <label class="col-md-5">周&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报</label>
      </div>
      <div class="nr" ng-repeat="week in weeks">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" ng-model="week.stage">
          {{ week.stage || 'empty' }}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" ng-model="week.time">
          {{ week.time || 'empty' }}
        </div>
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3" ng-model="week.work">
          {{ week.work || 'empty' }}
        </div>
        <div class="col-xs-7 col-sm-6 col-md-5 col-lg-5" ng-model="week.weekly">
          <table class="table table-bordered table-hover table-condensed" style="margin-top:20px">
            <tr>
              <td>第一周(1.1~1.7)</td>
              <td>第二周(1.1~1.7)</td>
              <td>第三周(1.1~1.7)</td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/modal.html','lg')">查看</button>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/modal.html','lg')">查看</button>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/modal.html','lg')">查看</button>
              </td>
            </tr>
          </table>
          <table class="table table-bordered table-hover table-condensed">
            <tr>
              <td>第四周(1.1~1.7)</td>
              <td>第五周(1.1~1.7)</td>
              <td>第六周(1.1~1.7)</td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/modal.html','lg')">查看</button>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/writemodal.html','lg')">点击填写</button>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="open('app/pages/dailishang/constructionmanagement/writemodal.html','lg')">点击填写</button>
              </td>
            </tr>
          </table>

        </div>

      </div>

    </div>

  </uib-tab>

</uib-tabset>
