
<div ba-panel ba-panel-title="代理商基础信息维护->组织模板维护" ba-panel-class="with-scroll">
	<div class="row">
		<div class="col-md-6">
			
			<div class="form-group" style="margin-left: 5px;">
				<label class="individual-label">代理商状态：</label>
				<input type="text" name="typeName" class="form-control individual-iput ion-search" ng-model="$scope.filter.$" placeholder="请输入要搜索的模板名称">
				 
			</div>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary" ng-click="addNew()"><i class="ion-plus"></i>新增模板</button>
		</div>
		
	</div>
	<div class="row">
		<div class="horizontal-scroll">

		  	<table class="table table-hover" st-table="templates">
			    <thead>
				    <tr class="sortable">
				      <th class="table-id" st-sort="number" st-sort-default="true"style="width: 100px;">编号</th>
				      <th st-sort="time">模板名称</th>
				      <th st-sort="type">适用类型</th>
				      <th st-sort="area">试用区域</th>
				      <th st-sort="status">状态</th>
				      <th st-sort="zaozuo">操作</th>
				    </tr>
			    </thead>
			    <tbody>
				    <tr ng-repeat="item in templates | filter: $scope.filter" class="editable-tr-wrap">
				      <td class="table-id"><a href="" ui-sref="ba.details({obj:item})">{{item.number}}</a></td>
				      <td>{{item.name}}</td>
				      <td>{{item.type}}</td>
				      <td>{{item.area}}</td>
				      <td>{{item.status}}</td>
				      <td><a href="" ui-sref="ba.bjxx({obj:item})">编辑</a></td>
				     
				    </tr>
			    </tbody>
			    <tfoot>
				    <tr>
				      <td colspan="9" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
		  	</table>
		</div>
			
	</div>
	
</div>