  
    
  <div><p>代理商施工管理-->施工阶段</p></div>
    <div>
      <div ba-panel ba-panel-title="施工基础信息">
          <div class="form-group">
            <label class="individual-label">代理商:</label>
            <input type="text" name="agent" class="form-control individual-iput" ng-model="construction.agent" disabled="true"/>
          </div>
          <div class="form-group">
            <label class="individual-label">设计厂商:</label>
            <input type="text" name="designer" class="form-control individual-iput" ng-model="construction.designer" disabled="true"/>
          </div>
          <div class="form-group">
            <label class="individual-label">供应商:</label>
            <input type="text" name="supplier" class="form-control individual-iput" ng-model="construction.supplier" disabled="true"/>
          </div>
          <div class="form-group">
            <label class="individual-label">当前进展:</label>
            <textarea type="text" name="progress" class="form-control individual-iput" ng-model="construction.progress" disabled="true"></textarea>
          </div>
      </div>
  </div>
  <div>
    <div ba-panel ba-panel-title="施工阶段信息">
      <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="阶段定制">
          <div class="horizontal-scroll">
            <button type="submit" class="btn btn-default" ng-click="addNew()" style="margin-right: 5px;"><i class="ion-plus"></i>新增施工阶段</button>
            <table class="table table-hover" st-table="constructions">
              <thead>
                <tr class="sortable">
                  <th class="table-id" st-sort="id" st-sort-default="true">序号</th>
                  <th st-sort="name">施工阶段名称</th>
                  <th st-sort="description">施工阶段描述</th>
                  <th st-sort="time">工期</th>
                  <th st-sort="status" >状态</th>
                  <th st-sort="">操作</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in constructions" class="editable-tr-wrap">
                  <td class="table-id">{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.time}}</td>

                  <td>{{item.status}}</td>
                  <td colspan="2">
                  <!-- <a ui-sref="ba.jiandianguanli.jddzbj({obj:item})">详情</a> -->
                    <button class="btn btn-primary" ng-click="stateGo(item)" style="float:left;">详情</button>
                    <!-- <button class="btn btn-default" >删除</button> -->
                    
                  </td>
                  <td></td>
                  

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
        </uib-tab>
       
        <uib-tab heading="周报">
          <div class="col-md-12">
            <div id="title">
              <button ng-click="btn='btn1'" class="btns" ng-class="{Selection:btn=='btn1'}">顺序查看</button>
              <button ng-click="btn='btn2'" class="btns" ng-class="{Selection:btn=='btn2'}">阶段查看</button>
            </div>
            
            <div class="info-box" ng-switch="btn">
                
                <div ng-switch-when="btn1">
                    <table class="table table-hover" st-table="report">
                      <thead>
                        <tr class="sortable">
                          <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                          <th st-sort="time1">时间</th>
                          <th st-sort="description">工作进展</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in report" class="editable-tr-wrap">
                          <td class="table-id">{{$index+1}}</td>
                          <td>{{item.time1}}</td>
                          <td>报告撰写人：{{item.author}}<br>
                              报告时间：{{item.time2}}<br>
                              本周任务进度描述：{{item.description}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div ng-switch-when="btn2">
                    <div class="col-md-4"></div>
                    <div class="progress col-md-8">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                </div>
            </div>

           
            

          </div>
        </uib-tab>
      </uib-tabset>
      </div>
   
  </div>

