<div ba-panel ba-panel-title="供应厂商信息" style="height:500px;">
  <!-- <form editable-form name="rowform" ng-show="!rowform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
      Save
    </button>
    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
      Cancel
    </button>
  </form>
  <div class="buttons" ng-show="rowform.$visible">
    <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>
  </div> -->
  <div class="buttons" ng-show="flag">
    <button class="btn btn-primary editable-table-button btn-xs" ng-click="editClick()">编辑</button>
    <!-- <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">删除</button> -->
  </div>
  <div class="buttons" ng-show="!flag">
    <button type="submit"
            class="btn btn-primary editable-table-button btn-xs"
            ng-click="saveClick()">保存
    </button>
    <button type="button"
            ng-click="cancelClick()"
            class="btn btn-default editable-table-button btn-xs">取消
    </button>
  </div>
  <form>
    <div class="form-group">
      <label class="individual-label">供应厂商名称:</label>
      <!-- <label type="text" name="id" class="form-control individual-iput" ng-model="gysxx.name" ng-value="{{gysxx.name}}" ng-show="flag">
        {{gysxx.name}}
      </label>
      <input type="text" ng-show="!flag"
             name="name"
             class="form-control individual-iput"
             ng-model="gysxx.name"
             ng-disabled="flag"/> -->
       <input type="text"
              name="name"
              class="form-control individual-iput"
              ng-model="gysxx.name"
              ng-disabled="flag"/>
    </div>
    <div class="form-group">
      <label class="individual-label">公司地址:</label>
      <input type="text"
             name="address"
             class="form-control individual-iput"
             ng-model="gysxx.gonguser.address"
             ng-disabled="flag"/>
    </div>
    <div class="form-group">
      <label class="individual-label">联系人:</label>
      <input type="text"
             name="ownName"
             class="form-control individual-iput"
             ng-model="gysxx.gonguser.ownName"
             ng-disabled="flag"/>
    </div>
    <div class="form-group">
      <label class="individual-label">联系电话:</label>
      <input type="text"
             name="phone"
             class="form-control individual-iput"
             ng-model="gysxx.phone"
             ng-disabled="flag"/>
    </div>
    <div class="form-group">
      <label class="individual-label">加入时间:</label>
      <input type="text"
             name="createAt"
             class="form-control individual-iput"
             ng-model="gysxx.createAt"
             ng-disabled="flag"/>
    </div>
    <div class="form-group">
      <label class="individual-label">案例数:</label>
      <input type="text"
             name="number"
             class="form-control individual-iput"
             ng-model="gysxx.gonguser.number"
             ng-disabled="flag"/>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" ng-click="returnBack()">返回</button>
    </div>
  </form>
</div>
