<uib-tabset active="$tabSetStatus.activeTab">

  	<uib-tab heading="供应商">
	  	<div class="horizontal-scroll">
	  		<button class="btn btn-default" ng-click="add()"><i class="ion-plus"></i>添加</button>
		  	<table class="table table-hover" st-table="$scope.suppliers">
			    <thead>
				    <tr class="sortable">
				      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
              <th st-sort="name">供应商名</th>
				      <th st-sort="address">公司地址</th>
				      <th st-sort="ownName">联系人</th>
				      <th st-sort="phone">联系电话</th>
				      <th st-sort="createAt">加入时间</th>
				      <th st-sort="number">案例数</th>
				      <th st-sort="zaozuo"> 操&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作&nbsp; </th>
				    </tr>
            <!-- <tr>
              <th></th>
              <th><input st-search="name" placeholder="Search name" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="address" placeholder="Search address" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="ownName" placeholder="Search ownName" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="phone" placeholder="Search phone" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input st-search="createAt" placeholder="Search createAt" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input st-search="number" placeholder="Search number" class="input-sm form-control search-input" type="search"/>
              </th>
              <th></th>
            </tr> -->
			    </thead>
			    <tbody>
				    <tr ng-repeat="item in suppliers" class="editable-tr-wrap">

				      <td class="table-id">{{$index}}</td>
              <td>{{item.name}}</td>
				      <td>{{item.gonguser.address}}</td>
				      <td>{{item.gonguser.ownName}}</td>

				      <td>{{item.phone}}</td>
				      <td>{{item.createAt| date:"MM/dd/yyyy"}}</td>
				      <td>{{item.gonguser.number||0}}</td>

				      <td>
                <div class="buttons">
                  <button class="btn btn-primary editable-table-button btn-sm" ng-click="see(item)">
                    <i class=""></i>查看
                  </button>
                  <button class="btn btn-danger editable-table-button btn-sm" ng-click="remove($index)">
                    <i class="ion-delete"></i>删除
                  </button>
                </div>
              </td>

				    </tr>
			    </tbody>
			    <tfoot>
				    <tr>
				      <td colspan="8" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
		  	</table>
		</div>
  	</uib-tab>
  </uib-tabset>
